body {
    font-family: 'Montserrat', sans-serif; /* Substitua 'Roboto' por 'Montserrat' */
}

.lanterna {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(202, 246, 249, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
    pointer-events: none; /* Para não interferir nos cliques */
    border-radius: 100%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    display:none;
}

.container a.visible {
    position:absolute;
    opacity: 1; 
    text-shadow: 0 0 10px rgb(181, 255, 255), 0 0 20px rgb(181, 255, 255);
    color:rgb(159, 255, 247)
}

.container a.visible {
    position: absolute; /* Permite que os botões sejam movidos */
    transition: all 1s ease; /* Suaviza a transição ao mudar de posição */
}

.letter {
    display: inline-block;
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.letter.glow {
    color: aqua; /* Cor brilhante */
    text-shadow: 0 0 10px aqua, 0 0 20px aqua;
}