body {
    font-family: 'Montserrat', sans-serif; /* Substitua 'Roboto' por 'Montserrat' */
}

.lanterna {
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, rgba(202, 246, 249, 0.3) 0%, rgba(255, 255, 255, 0) 80%);
    pointer-events: none; /* Para não interferir nos cliques */
    border-radius: 100%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    display:none;
}

h1, h2, p {
    text-align: center;
}

p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

h1 .letter {
    letter-spacing: -6px;
    color: rgb(17, 36, 57);
}

h2 .letter {
    letter-spacing: -2px;
    color: rgb(19, 47, 59);
    transition: text-shadow 0.3s ease, color 0.3s ease;
}

.container a.visible {
    opacity: 1; 
    text-shadow: 0 0 10px rgb(181, 255, 255), 0 0 20px rgb(181, 255, 255);
    color:rgb(159, 255, 247);
    transition: all 2s ease;
}

.letter {
    display: inline-block;
    transition: text-shadow 0.3s ease, color 0.3s ease;
    color: rgb(19, 47, 59);
}

.letter.glow {
    color: aqua; /* Cor brilhante */
    text-shadow: 0 0 10px aqua, 0 0 20px aqua;
}

.lanterna::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    background-image: url('img/lanterna.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: translate(-50%, -50%);
}