body {
    font-family: 'Montserrat', sans-serif; /* Substitua 'Roboto' por 'Montserrat' */
    background-color: rgb(19, 47, 59);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Impede a rolagem */
}

.container {
    text-align: center; /* Centraliza os botões horizontalmente */
}

.container a {
    display: inline-block;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: rgb(17, 36, 57);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 20px;
    opacity: 0; /* Botões começam invisíveis */
    transition: opacity 0,3s ease; /* Suaviza a transição */
}
